.checkbox-column {
    transform: scale(0.85);
}

.scrollable-content {
    overflow-y: auto;
    height: 18.75rem;
}

.scrollable-content thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.arrowIcon {
    display: none;
}

.thTag:hover .arrowIcon {

    display: inline-block;
    cursor: pointer;
}

.thTag .arrowIconShow {
    display: inline-block;
}

.loadingSpinner {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.containerTableUpper {
    background-color: white;
    width: 100%;
    max-width: 81.25rem;
    height: 10.875rem;

}

.custom-toast {
    /* position: relative;
    top: 0rem;
    left: 20rem;
    max-width: 400px; */
    z-index: 9; 
    /* pointer-events: auto;  */
}


.containerTable {
    background-color: white;

}



.labelClass {
    margin-left: 2.5rem;
    margin-bottom: -1.8rem;
    font-size: large
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchClass {
    padding-bottom: 1rem;
}

.scrollingSpinner {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customClass {
    padding-top: 1.2rem;
}

.slds-dropdown {
    display: block; 
}



.custom-text-align{
    font-size:1.25rem; 
    
    margin-top: 7rem;
}

.span-text{
    font-size: 0.9375rem;
}


.combo-button {
    
    min-width: 2.5rem;
     height: 2rem;
    }

    .no-gap {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .tiny-icon {
        transform: scale(0.7);
    }

  

    .download-icon {
    cursor: pointer;
}



.drawer {
    transition: transform 0.6s ease-in-out;
}

.slide-in {
    transform: translateX(0%);
}

.slide-out {
    transform: translateX(100%);
}


 .custom-search {
        margin-top: 1rem; 
      padding: 0;
} 

   
.small-icon{
    transform: scale(0.78);
} 

.min-gap{
    margin-left:-0.4375rem !important;
    margin-right:0rem !important;
}